#cartCheck ~ .cart {
    height: 0;
    transition: height 1s;
}

#cartCheck:checked ~ .cart {
    height: 200px;
    transition: height 1s;
}

.cart {
    display: flex;
    position: fixed;
    top: 60px;
    right: 0;
    width: 500px;
    background-color: #F4F5F6;
    z-index: 99;
}

#cartCheck{
    display: none;
}

#shopping-cart, #logoutIcon {
    display: none;
}

#quantity {
    width: 30px;
}