#cartCheck ~ .cart {
    height: 0;
    transition: height 1s;
}

#cartCheck:checked ~ .cart {
    height: 200px;
    transition: height 1s;
}

#cartCheck{
    display: none;
}

#quantity {
    width: 30px;
}

#productCart {
    display: flex;
}

#productCart img {
    height: 20px;
    cursor: pointer;
}